*{margin:0; padding:0;}

body
{
    background:white; /*----background:url('Images/Background.jpg') no-repeat center center fixed;---*/
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}


#wrapper{width:1010px;margin:0 auto;}

#header{width:100%; float: left; height:185px;}

#banner{width:100; float:left; height:153px;}

#menu{width:100%; float:left; height:32px;}

#content{margin-top:5px; width:100%; float:left;}

#left{width:205px; float:left; background:white;}

#main{width:590px; margin-left:4px; float:left;}

#right{width:205px; margin-left:5px; float:right; background:white;}

#footer{width:100%; margin-top:20px;float:left; background-color:#974700; color:White; border-top:1px solid #ff9600;}





